Olá <strong>{{ student }}</strong>,
<p>Recebemos a sua dúvida, segue abaixo a nossa resposta:</p>
<p style="background-color: #F0F0F0; padding: 20px 30px; margin: 0 20px;">
  <strong>Sua pergunta:</strong> <i>{{ question }}</i><br><br>
  <strong>Resposta da nossa equipe: </strong><br><br>
  <em>{{ answer }}</em>
  <br><br>
  <small><em>Respondido em: {{ date_answer }}</em></small>
</p>
<br>
<small>Caso ainda não tenha sua dúvida esclarecida, entre em contato novamente que iremos ajuda-lo(a).</small>
