Olá <strong>{{ student }}</strong>,
<p>Seja bem vindo a GymPoint!</p>
<p>Sua matrícula foi realizada com sucesso!</p>
<p>Seguem abaixo as informações de seu plano:</p>
<p style="background-color: #F0F0F0; padding: 20px 30px; margin: 0 20px;">
  <strong>Plano contratado: </strong> {{ plan }}<br><br>
  <strong>Válido até: </strong> {{ end_date }}<br><br>
  <strong>Valor pago: </strong> {{ price }}
</p>
<br>
<small>Em caso de dúvidas, entre em contato conosco.</small>
